/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../source/3.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo tenue */
    color: #000; /* Texto negro oscuro */
  }
  
  
  header {
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    font-size: 36px;
    color: #222; /* Letras más oscuras */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #222; /* Letras más oscuras */
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ff9933;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f9f6f1; /* Color de fondo del pie de página */
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

  